#main-doc{
    display: flex;
    flex-direction: column;
    padding: 10%;
    color: #000;
    justify-content: center;
    align-items: center;
}
.main-section{
    display: flex;
    padding: 10%;
    flex-direction: column;

}
#wee{
    color: black;
    display: flex;
    padding: 10%;
    flex-direction: column;
    
}
#woop{
    color: black;
    display: flex;
    padding: 10%;
    flex-direction: column;

}
#pee{
    color: black;
    display: flex;
    padding: 10%;
    flex-direction: column;

}
#poop{
    color: black;
    display: flex;
    padding: 10%;
    flex-direction: column;

}
#snoop{
    color: black;
    display: flex;
    padding: 10%;
    flex-direction: column;

}#navbar{
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;

}
#navbar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
#navbar hover:a{
    color: #f1f1f1;
}
#nav-link{
 color: black;
 display: flex;
 flex-direction: column;
}